.reveal section img { 
	background:none; 
	border:none; 
	box-shadow:none; 
} 

.reveal section img.small {
	width: 100px;
}

.inline {
	display: inline;
}

.v-center {
	display: flex;
	flex-direction: column; /* direction d'affichage verticale */
  	justify-content: center; /* alignement vertical */
}

